
/*
This CSS governs the appearance of our site.
You can find the basic concepts of CSS here: https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/How_CSS_works
*/

/*
We use CSS variables to avoid repetition
https://developer.mozilla.org/en-US/docs/Web/CSS/--*
*/
:root {
	--theme-color-light: rgb(0, 200, 80);
	--theme-color-dark: rgb(0, 122, 50);
 	--dark-background-color: rgb(50, 50, 50);
	--blue-shade-1:#00429d;
	--blue-shade-2: #4574a5;
	--blue-shade-3:#71a5b1;
	--blue-shade-3b :#aad6c2;
	--yellow-shade-4 : #ffffe0;
	--yellow-shade-5 : #ffd878;
	--orange-shade-6 : #ffaa3a;
	--orange-shade-7 : #ff740e;
	--red-shade-8: #ff0000;
	--white-shade: rgb(250,250,250);
}

* {
	box-sizing: border-box;
}

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html, body, figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

/* Default font and size */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1rem;
}

#showcase{
	margin-top: 3.5rem;
	background-image: url(images/lightningLarge.jpg);
	height: 93vh;
	background-size:cover;
	background-position:center;
	height:100vh;
	display:flex;
	/* change disposition of the text*/
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
	/*avoid text superposition when the screen is small*/
	padding:0 20px;
}


#showcase h1{
	position: absolute;
    top: calc(22% - 25px); 
    left: 50%;
    transform: translateX(-50%);
    font-size: 70px;
	font-style: italic;
    line-height: 1.2;
    color: white;
    text-shadow: 0 0 0.6rem black; 
}

/*page margin*/
.width-limited {
	max-width: 75%;

	/* Center horizontally: */
	margin-left: auto;
	margin-right: auto;
}

/* Links: apply our theme color and remove underline */
a {
	color: var(--orange-shade-7);
	text-decoration: none;
}

/* Justify paragraphs */
p {
	text-align: justify;
	
}

/* Titles: set color and sizes */
h1, h2, h3, h4, h5, h6
{
	color: var(--blue-shade-2);
}
h1 { font-size: 2rem;}
h2 { font-size: 1.75rem;}
h3 { font-size: 1.75rem; }
h4 { font-size: 1.25rem; }

/* Top navigation bar */
nav {
    position: fixed; /* Fix the position of the navigation bar */
	height: 6vh;
	width: 100%;
	z-index: 1000; /* Ensure it appears above other content */
	top:0; /*ensure it is a the top of the viewport*/
	padding-top: 1rem;
	padding-bottom: 1rem;

	background-color: var(--white-shade);
	box-shadow: 0px 2px 4px var(--yellow-shade-4); /* Add a subtle box shadow */

	background-size:cover;
	background-position:center;
}

/* Make the links in the navbar bold */
nav a {
	font-weight: bold;
	color: var(--blue-shade-2);
}

/* Style of the list of links in the navbar */
nav ul {
	/* Clear defaults */
	margin: 0;
	padding: 0;

	/*to be aligned on the right with the text*/
	margin-right: calc((100% - 75%) / 2);
	/* Remove list bullet points */
	list-style-type: none;

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}

/* Space between links */
nav li {
	margin-left: 3rem;
}

nav a:hover {
	/*add an undeline effect*/
	/*text-decoration: underline;*/
	color:#ffaa3a;
  }


/* Style nav image */
nav img {
	height: 45px;
	width: auto;
    margin-right: 10px;
	margin-left: calc(0.6*(100% - 70%) / 2);
    position: absolute; 
    left: 30px;
	top:4px;
}


/* The box with a dark background and our site's title */
.title-row {
	width: 100%;
	top: 50px;
	position: relative;

	/* Space above and below the title */
	padding-top: 2rem;
	padding-bottom: 2rem;

	background-color: var(--yellow-shade-4);
	background: linear-gradient(45deg, var(--blue-shade-2), var(--yellow-shade-4));
	/* Center the title using flexbox */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Style of the title inside the box */
.title-row h1 {
	top: 60px;
	font-size: 2.1rem;
	color: white;
	font-variant: small-caps;
	text-decoration: underline;

	text-shadow: black 0 0 0.6rem;
}

.box {
	padding-left: 2rem;
	padding-right: 2rem;
	margin-bottom: 1rem;
	margin-top: 60px;

	background-color: var(--blue-shade-3b);

	border: 2px solid var(--blue-shade-3);
	border-radius: 1rem;

	text-shadow: white 0 0 0.6rem;

}

.viz-row {
	width: 100%;
	/* Center the title using flexbox */
	display: flex;
	justify-content: center;
	align-items: center;

	padding-top: 2rem;
	padding-bottom: 2rem;

	background-color: var(#85bf8397);
}

figure embed {
	width: 100%;
}

#page-container {
	position: relative;
	min-height: 20vh;
}

#content-wrap {
	padding-bottom: 20vh;    /* Footer height */
	background: var(--blue-shade-2);

}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Footer height */
	height: 1 rem;          
	color: white;
	text-align: center;
}

.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #ffffe0;
}

.footer-content h3{
	font-size: 1.8rem;
	font-weight: 400;
	color: #ffffe0;
}



/* Adjust the top margin to position it below the title
ensure everything is below the title exect title image*/
.title-row + * {
	    margin-top: 5rem;
}