
/*
This CSS governs the appearance of our site.
You can find the basic concepts of CSS here: https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/How_CSS_works
*/

/*
We use CSS variables to avoid repetition
https://developer.mozilla.org/en-US/docs/Web/CSS/--*
*/
:root {
	--theme-color-light: rgb(0, 200, 80);
	--theme-color-dark: rgb(0, 122, 50);
 	--dark-background-color: rgb(50, 50, 50);
	--blue-shade-1:#00429d;
	--blue-shade-2: #4574a5;
	--blue-shade-3:#71a5b1;
	--blue-shade-3b :#aad6c2;
	--yellow-shade-4 : #ffffe0;
	--yellow-shade-5 : #ffd878;
	--orange-shade-6 : #ffaa3a;
	--orange-shade-7 : #ff740e;
	--red-shade-8: #ff0000;
	--white-shade: rgb(250,250,250);
}


/*
This makes the border and padding be counted as part of the element's size.
https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Box_model
It switches from
	https://mdn.mozillademos.org/files/13647/box-model-standard-small.png
to
	https://mdn.mozillademos.org/files/13649/box-model-alt-small.png
*/
* {
	box-sizing: border-box;
}

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html, body, figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

/* Default font and size */
body {
	font-family: sans-serif;
	font-size: 1.1rem;
}

/*
It is easier to read if the text is not too wide, so we limit the width.
We use the class selector ".", so this style will be applied to elements with class="width-limited"

The various units of measurement available in CSS:
	https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Values_and_units
*/
.width-limited {
	max-width: 70rem;

	/* Center horizontally: */
	margin-left: auto;
	margin-right: auto;
}

/* Links: apply our theme color and remove underline */
a {
	color: var(--orange-shade-7);
	text-decoration: none;
}

/* Justify paragraphs */
p {
	text-align: justify;
	
}

/* Titles: set color and sizes */
h1, h2, h3, h4, h5, h6
{
	color: var(--blue-shade-2);
}
h1 { font-size: 2rem;}
h2 { font-size: 1.75rem;}
h3 { font-size: 1.75rem; }
h4 { font-size: 1.25rem; }

/* Top navigation bar */
nav {
    position: fixed; /* Fix the position of the navigation bar */
	width: 110%;
	z-index: 1000; /* Ensure it appears above other content */
	top:0; /*ensure it is a the top of the viewport*/
	padding-top: 1rem;
	padding-bottom: 1rem;

	background-color: var(--white-shade);
	box-shadow: 0px 2px 4px var(--yellow-shade-4); /* Add a subtle box shadow */
}

/* Make the links in the navbar bold */
nav a {
	font-weight: bold;
	color: var(--blue-shade-2);
}

/* Style of the list of links in the navbar */
nav ul {
	/* Clear defaults */
	margin: 0;
	padding: 0;

	/* Remove list bullet points */
	list-style-type: none;

	/*
	Flexbox is a modern mechanism for arranging elements
		https://css-tricks.com/snippets/css/a-guide-to-flexbox/
	This will arrange the elements in a row
	*/
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}

/* Space between links */
nav li {
	margin-right: 3rem;
}

nav a:hover {
	/*add an undeline effect*/
	/*text-decoration: underline;*/
	color:#ffaa3a;
  }


/* Style nav image */
nav img {
	height: 45px; /* Adjust height as needed */
	width: auto;
    margin-right: 10px; /* Add some spacing between the image and the links */
    margin-left: 20px; /* Adjust the left margin as desired */
    position: absolute; /* Position the image absolutely within the navigation bar */
    left: 30px; /* Position the image from the left edge of the navigation bar */
	top:4px;
}


/* The box with a dark background and our site's title */
.title-row {
	width: 100%;
	top: 50px;
	position: relative;

	/* Space above and below the title */
	padding-top: 2rem;
	padding-bottom: 2rem;

	background-color: var(--yellow-shade-4);
	background: linear-gradient(45deg, var(--blue-shade-2), var(--yellow-shade-4));
	/* Center the title using flexbox */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Style of the title inside the box */
.title-row h1 {
	top: 60px;
	font-size: 2.1rem;
	color: white;
	font-variant: small-caps;
	text-decoration: underline;

	text-shadow: black 0 0 0.6rem;
}

/*Main image*/
.title-image {
	/*margin-top: 60px; /*same as for navigation bar*/
	margin-left: 0;
	width: 100%; /* Make it span the entire width of the viewport */
	/* Center the title using flexbox */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Image credits */
.image-credits{
	position: absolute; /* Position the credits absolutely */
    bottom: 0; /* Align the credits with the bottom of the viewport */
    width: 100%; /* Make it span the entire width of the viewport */
    text-align: center; /* Center-align the text */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
}



.box {
	padding-left: 2rem;
	padding-right: 2rem;
	margin-bottom: 1rem;
	margin-top: 60px;

	background-color: var(--blue-shade-3b);

	border: 2px solid var(--blue-shade-3);
	border-radius: 2rem;
}

.viz-row {
	width: 100%;
	/* Center the title using flexbox */
	display: flex;
	justify-content: center;
	align-items: center;

	padding-top: 2rem;
	padding-bottom: 2rem;

	background-color: var(--blue-shade-3)
}

figure embed {
	width: 100%;
}

footer {
	padding-bottom: 5rem;
}

/* Adjust the top margin to position it below the title
ensure everything is below the title exect title image*/
.title-row + *:not(.title-image) {
	    margin-top: 5rem;
}