


/* general styling */
:root {
    --smaller: .75;
  }

  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }

  li .number-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white; /* White background for each time unit */
    padding: 0.3em 0.8em; /* Adjust padding to reduce box size */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 4px 15px rgba(255, 215, 0, 0.75); /* Golden shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for effects */
    margin: 0 5px; /* Reduce margin to decrease space between boxes */
}
  
  li .number-box:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.75); /* Golden shadow */
  }


  @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }

  .countdown-container {
    position: absolute;
    bottom: 12%; /* Position from bottom */
    left: 5%; /* Position from left */
    }