.table-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin: 0 auto; /* Center horizontally */
    max-width: 800px; /* Optional: Set maximum width */
}

/* Clearfix to clear floats */
.width-limited::after {
    content: "";
    display: table;
    clear: both;
}

.schedule-container, .ranking-container {
    padding: 10px;
}

.schedule-container > div, .ranking-container > div {
    width: 100%; /* Ensure each table takes full width */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Add transition for smooth effect */
    opacity: 0; /* Start with hidden state */
    transform: translateY(-10px); /* Start with slight offset */
}

.schedule-container > div.active, .ranking-container > div.active {
    opacity: 1; /* Fully visible when active */
    transform: translateY(0); /* Reset transform when active */
}


.hidden {
    display: none;
}

table {
    border-collapse: collapse;
    margin: auto; /* Center horizontally */
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}


th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4574a5;
}

img.flag {
    width: 20px;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
}

.toggle-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.video-wrapper {
    width: 50%; /* Adjust the width as needed */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.section-intro {
    margin: 10px 0; /* Adjust the margin as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}